import(methods)
import(RAutoGenRunTime)

useDynLib(Rnvvm)

export(getCompiledResult, getProgramLog)
export(generatePTX)

export(
addModuleToProgram,
compileProgram,
createProgram,
destroyProgram,
getCompiledResultSize,
getErrorString,
getProgramLogSize,
verifyProgram,
version)


